<div class="page-header">

    <h2>{{ title }}</h2>
    {{#if users}}
    <ul>
    {{#each users}}
        <li><a href="/users/{{ _id }}">{{ name }} {{ lastName }}</a></li>
    {{/each}}
    </ul>
    {{/if}}

</div>
